@model List<TeamProject.Models.Domain.Post>
@{
    ViewData["Title"] = "KMOVIES";
}
@* 게시글 내용 보기 *@
<h2>게시판</h2>
<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var write in Model)
        {
            <tr>
                <td>@write.Id</td>
                <td>
                    <a asp-controller="Board" asp-action="Detail"
                       asp-route-id="@write.Id">@write.Title</a>
                </td>
                <td>@write.UserId</td>
                <td>@write.ViewCnt</td>
                <td>@write.Date</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-12">
        <a class="btn btn-outline-dark" asp-controller="Board" asp-action="Write">작성</a>
    </div>
</div>