@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

 @model TeamProject.Models.Domain.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	string userIdString = HttpContextAccessor.HttpContext.Session.GetString("UserId");
 }
@{
    ViewData["Title"] = "마이페이지";
}

<h1>마이페이지</h1>

<script src="~/js/DeleteUser/DeleteOk.js"></script>

<form method="POST" name="frmDelete" asp-controller="User" asp-action="Delete">
    <input type="hidden" asp-for="Id">
</form>

<div>

    <a class="btn btn-outline-dark btn-lg" style="font-size: 24px;"
       asp-controller="User" asp-action="Update" asp-route-id="@Model.Id">
        개인정보 관리
    </a>
</div>

<div>
    <a class="btn btn-outline-dark btn-lg" style="font-size: 24px;"
       asp-controller="Posts" asp-action="Userspostlist" asp-route-id="@Model.Id">
        게시글 관리
    </a>
</div>

<div>
    <a class="btn btn-outline-dark btn-lg" style="font-size: 24px;"
       asp-controller="Comment" asp-action="Userscommentlist" asp-route-id="@Model.Id">
       댓글 관리
    </a>
</div>

<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var write in Model.Posts)
            {
                <tr>
                    <td>@write.Id</td>
                    <td>
                        <a asp-controller="Posts" asp-action="PostDetail"
                   asp-route-id="@write.Id">@write.Title</a>
                    </td>
                    <td>@write.User?.NickName</td>
                    <td>@write.ViewCnt</td>
                    <td>@write.Date</td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <h2>리뷰 관리</h2>

</div>

<div>
    <h2>저장 목록</h2>

</div>

<button type="button" class="btn btn-outline-danger ms-2" id="btnDel">회원탈퇴</button>
