@model TeamProject.Models.ViewModels.EditUserRequest

@{
	ViewData["Title"] = $"마이페이지 - 개인정보 관리";
}

<div class="container mt-5">
	<h2>마이페이지</h2>
	<hr>

	@if (Model != null)
	{
		<div class="mb-3 mt-3 clearfix">
			<span class="float-start me-2">id: @Model.UserId</span>
		</div>

		<form method="POST">
			<input type="hidden" asp-for="UserId" />

			<div class="mb-3">
				<label for="name">ID :</label>
				<input type="text" class="form-control" placeholder="아이디를 입력해주세요" asp-for="Name">
				<div><span class="text-danger">@TempData["NameError"]</span></div>
			</div>

			<div class="mb-3 mt-3">
				<label for="password">PassWord:</label>
				<input type="text" class="form-control" placeholder="비밀번호를 입력해주세요" asp-for="PassWord">
				<div><span class="text-danger">@TempData["PassWordError"]</span></div>
			</div>
			<div class="mb-3 mt-3">
				<label for="username">이름:</label>
				<input type="text" class="form-control" placeholder="이름을 입력해주세요" asp-for="UserName">
				<div><span class="text-danger">@TempData["UserNameError"]</span></div>
			</div>
			<div class="mb-3 mt-3">
				<label for="phonenum">핸드폰 번호 : </label>
				<input type="text" class="form-control" placeholder="핸드폰 번호를 입력해주세요" asp-for="PhoneNum">
				<div><span class="text-danger">@TempData["PhoneNumError"]</span></div>
			</div>
			<div class="mb-3 mt-3">
				<label for="nickname">닉네임 : </label>
				<input type="text" class="form-control" placeholder="닉네임을 입력해주세요" asp-for="NickName">
				<div><span class="text-danger">@TempData["NickNameError"]</span></div>
			</div>
			<div class="mb-3 mt-3">
				<label for="email">이메일</label>
				<input type="text" class="form-control" placeholder="이메일을 입력해주세요" asp-for="Email">
				<div><span class="text-danger">@TempData["EmailError"]</span></div>
			</div>

			<!-- 하단 링크 -->
			<div class="d-flex">
				<button type="submit" class="btn btn-outline-dark">수정완료</button>
				<button type="button" class="btn btn-outline-dark ms-1" onclick="history.back()">이전으로</button>
				<a class="btn btn-outline-dark ms-1" asp-controller="User" asp-action="MyPage">마이페이지</a>
			</div>
			<!-- 하단 링크 -->
			@if (TempData["UpdateSuccess"] != null && (bool)TempData["UpdateSuccess"])
			{
				<script>
					window.onload = function () {
						alert("수정이 완료되었습니다!");
					}
				</script>
			}

		</form>
	}
	else
	{
		<script>
			alert("데이터가 없습니다!");
			history.back();
		</script>
	}
