@model List<TeamProject.Models.Domain.Comment>
@{

}
<h2>게시판</h2>
<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var write in Model)
            {
                <tr>
                    <td>@write.Id</td>
                    <td>
                        <a asp-controller="Posts" asp-action="PostDetail"
                   asp-route-id="@write.Id">@write.Post.Title</a>
                    </td>
                    <td>@write.UserId</td>
                    <td>@write.Content</td>
                    <td>@write.RegDate</td>
                </tr>
            }
        }
    </tbody>
</table>

