@model TeamProject.Models.ViewModels.EditUserRequest

@{
    ViewData["Title"] = $"유저 정보 : {Model.UserName}";
}
<section class="signup spad">
    <div class="container">
        <dive class="row">
            <div class="col-lg-12">
                <div class="login__form">

                    @if (Model != null)
                    {
                        <h3>Users Mypage</h3>
                        <h2 style="color : white">ID: @Model.Name</h2>


                        <form method="POST">
                            <input type="hidden" asp-for="UserId" />
                            <input type="hidden" asp-for="Name" />

                            <!--비밀번호-->
                       
                            <div class="input__item">
                                <input type="text"  asp-for="PassWord" value="@Model.PassWord" readonly>
                                <span class="icon_lock"></span>
                            </div>

                           
                            <!--UserName-->
                          
                            <div class="input__item">

                                <input type="text" class="form-control" asp-for="UserName" readonly>
                                <span class="icon_profile"></span>
                            </div>
                            <!--사용자 PhoneNum-->
                            <div><span class="text-danger">@TempData["PhoneNumError"]</span></div>
                            <div class="input__item">

                                <input type="text" class="form-control" asp-for="PhoneNum" readonly>
                                <span class="icon_phone"></span>
                            </div>
                            <!--사용자 NickName-->
                            <div><span class="text-danger">@TempData["NickNameError"]</span></div>
                            <div class="input__item">

                                <input type="text" class="form-control" asp-for="NickName" readonly>
                                <span class="icon_profile"></span>
                            </div>
                            <div><span class="text-danger">@TempData["EmailError"]</span></div>
                            <div class="input__item">

                                <input type="text" class="form-control" asp-for="Email" readonly>
                                <span class="icon_mail"></span>
                            </div>

                            <!-- 하단 링크 -->
                            <div class="d-flex">                             
                                <button type="button" class="site-btn" onclick="history.back()">이전으로</button>
                                <button type="button" class="site-btn" asp-controller="Admin" asp-action="AdminPage">관리자 페이지</button>


                            </div>
                           
                        

                        </form>
                    }
                
                </div>
            </div>

        </dive>
    </div>
</section>


